body, html, main {
    /* important */
    height: 100%;
}
.cd-scrolling-bg {
    min-height: 100%;
}    
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
} 
.cd-fixed-bg.cd-bg-1 {
    background-image: url("https://codyhouse.co/demo/alternate-fixed-scroll-background/img/cd-background-1.jpg/img/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
    background-image: url("https://codyhouse.co/demo/alternate-fixed-scroll-background/img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
    background-image: url("https://codyhouse.co/demo/alternate-fixed-scroll-background/img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
       background-image: url("https://codyhouse.co/demo/alternate-fixed-scroll-background/img/cd-background-4.jpg");
}
      
/*
  code by Himself65
*/
header{
    text-align: center;
    min-width: 100%;
    padding: 5em 0px;
    padding-bottom: 10em;
    position: relative;
    border-bottom: 1px solid #edeeee;
}

header h1 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 10px;
    line-height: 1;
}

header p{
    text-align: center;
    color: #252728;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 1.7em;
}

header img{
    width: 175px;
}

/*varbar color*/
.navbar-custom .nav li a,
.navbar-custom .nav li a:hover,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {color:#777;}
.navbar-default .navbar-toggle .icon-bar {background-color:#777;}